input {

padding:12px;
border-radius:20px;
border:2px solid pink;
text-align:center;
font-size:16px;

}


.gyaru {

background:#ffd6ee;

}


.kawaii {

background:#ffeaf7;

}


.dark {

background:#d8d2df;

}


.berry {

background:#ffe0e8;

}
